In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

1.importing csv file

In [2]:
df = pd.read_csv("Amazon Sale Report.csv", encoding="ISO-8859-1")
df.head(10)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by,New,PendingS
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship,NaN,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship,NaN,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,NaN,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship,NaN,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,NaN,NaN,NaN
5,5,404-1490984-4578765,04-30-22,Shipped,Amazon,Amazon.in,Expedited,T-shirt,XL,Shipped,...,INR,824.00,GHAZIABAD,UTTAR PRADESH,201102.0,IN,False,NaN,NaN,NaN
6,6,408-5748499-6859555,04-30-22,Shipped,Amazon,Amazon.in,Expedited,T-shirt,L,Shipped,...,INR,653.00,CHANDIGARH,CHANDIGARH,160036.0,IN,False,NaN,NaN,NaN
7,7,406-7807733-3785945,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,S,Shipped,...,INR,399.00,HYDERABAD,TELANGANA,500032.0,IN,False,Easy Ship,NaN,NaN
8,8,407-5443024-5233168,04-30-22,Cancelled,Amazon,Amazon.in,Expedited,T-shirt,3XL,Cancelled,...,NaN,NaN,HYDERABAD,TELANGANA,500008.0,IN,False,NaN,NaN,NaN
9,9,402-4393761-0311520,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Shirt,XXL,Shipped,...,INR,363.00,Chennai,TAMIL NADU,600041.0,IN,False,NaN,NaN,NaN

2.Checking Null Values

In [3]:
df.isnull().sum()
print(df)

         index             Order ID      Date                        Status  \
0            0  405-8078784-5731545  04-30-22                     Cancelled
1            1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2            2  404-0687676-7273146  04-30-22                       Shipped
3            3  403-9615377-8133951  04-30-22                     Cancelled
4            4  407-1069790-7240320  04-30-22                       Shipped
...        ...                  ...       ...                           ...
128971  128970  406-6001380-7673107  05-31-22                       Shipped
128972  128971  402-9551604-7544318  05-31-22                       Shipped
128973  128972  407-9547469-3152358  05-31-22                       Shipped
128974  128973  402-6184140-0545956  05-31-22                       Shipped
128975  128974  408-7436540-8728312  05-31-22                       Shipped

       Fulfilment Sales Channel ship-service-level  Category Size  \
0        Merchant     Amazon.in           Standard   T-shirt    S
1        Merchant     Amazon.in           Standard     Shirt  3XL
2          Amazon     Amazon.in          Expedited     Shirt   XL
3        Merchant     Amazon.in           Standard   Blazzer    L
4          Amazon     Amazon.in          Expedited  Trousers  3XL
...           ...           ...                ...       ...  ...
128971     Amazon     Amazon.in          Expedited     Shirt   XL
128972     Amazon     Amazon.in          Expedited   T-shirt    M
128973     Amazon     Amazon.in          Expedited   Blazzer  XXL
128974     Amazon     Amazon.in          Expedited   T-shirt   XS
128975     Amazon     Amazon.in          Expedited   T-shirt    S

       Courier Status  ...  currency   Amount    ship-city    ship-state  \
0          On the Way  ...       INR   647.62       MUMBAI   MAHARASHTRA
1             Shipped  ...       INR   406.00    BENGALURU     KARNATAKA
2             Shipped  ...       INR   329.00  NAVI MUMBAI   MAHARASHTRA
3          On the Way  ...       INR   753.33   PUDUCHERRY    PUDUCHERRY
4             Shipped  ...       INR   574.00      CHENNAI    TAMIL NADU
...               ...  ...       ...      ...          ...           ...
128971        Shipped  ...       INR   517.00    HYDERABAD     TELANGANA
128972        Shipped  ...       INR   999.00     GURUGRAM       HARYANA
128973        Shipped  ...       INR   690.00    HYDERABAD     TELANGANA
128974        Shipped  ...       INR  1199.00        Halol       Gujarat
128975        Shipped  ...       INR   696.00       Raipur  CHHATTISGARH

       ship-postal-code  ship-country    B2B  fulfilled-by New  PendingS
0              400081.0            IN  False     Easy Ship NaN       NaN
1              560085.0            IN  False     Easy Ship NaN       NaN
2              410210.0            IN   True           NaN NaN       NaN
3              605008.0            IN  False     Easy Ship NaN       NaN
4              600073.0            IN  False           NaN NaN       NaN
...                 ...           ...    ...           ...  ..       ...
128971         500013.0            IN  False           NaN NaN       NaN
128972         122004.0            IN  False           NaN NaN       NaN
128973         500049.0            IN  False           NaN NaN       NaN
128974         389350.0            IN  False           NaN NaN       NaN
128975         492014.0            IN  False           NaN NaN       NaN

[128976 rows x 21 columns]

3.Removing Rows will null values

In [4]:
df_cleaned = df.dropna()
print("\nDataset after Removing Null Values:")
print(df_cleaned.isnull().sum())

Dataset after Removing Null Values:
index                 0
Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Category              0
Size                  0
Courier Status        0
Qty                   0
currency              0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
B2B                   0
fulfilled-by          0
New                   0
PendingS              0
dtype: int64

4. Checking for duplicate rows

In [5]:
duplicates = df_cleaned.duplicated().sum()
print(f"\nNumber of Duplicate Rows: {duplicates}")
df_cleaned = df_cleaned.drop_duplicates()
print(f"\nDataset Shape after Removing Duplicates: {df_cleaned.shape}")

Number of Duplicate Rows: 0

Dataset Shape after Removing Duplicates: (0, 21)

In [6]:
# Final Cleaned Dataset
print("\nFinal Cleaned Dataset:")
print(df_cleaned.info())

Final Cleaned Dataset:
<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               0 non-null      int64
 1   Order ID            0 non-null      object
 2   Date                0 non-null      object
 3   Status              0 non-null      object
 4   Fulfilment          0 non-null      object
 5   Sales Channel       0 non-null      object
 6   ship-service-level  0 non-null      object
 7   Category            0 non-null      object
 8   Size                0 non-null      object
 9   Courier Status      0 non-null      object
 10  Qty                 0 non-null      int64
 11  currency            0 non-null      object
 12  Amount              0 non-null      float64
 13  ship-city           0 non-null      object
 14  ship-state          0 non-null      object
 15  ship-postal-code    0 non-null      float64
 16  ship-country        0 non-null      object
 17  B2B                 0 non-null      bool
 18  fulfilled-by        0 non-null      object
 19  New                 0 non-null      float64
 20  PendingS            0 non-null      float64
dtypes: bool(1), float64(4), int64(2), object(14)
memory usage: 0.0+ bytes
None

In [7]:
if df_cleaned.empty:
    print("\nThe cleaned DataFrame is empty! Please review the cleaning steps.")
else:
    # Step 7: Save the cleaned dataset to a new CSV file
    cleaned_file_path = "Cleaned_Amazon_Sale_Report.csv"
    df_cleaned.to_csv(cleaned_file_path, index=False)
    print(f"\nCleaned dataset saved to: {cleaned_file_path}")

# Step 8: Final confirmation
print("\nFinal Cleaned Data Overview:")
print(df_cleaned.info())
print("\nSample Data:")
print(df_cleaned.head())

The cleaned DataFrame is empty! Please review the cleaning steps.

Final Cleaned Data Overview:
<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               0 non-null      int64
 1   Order ID            0 non-null      object
 2   Date                0 non-null      object
 3   Status              0 non-null      object
 4   Fulfilment          0 non-null      object
 5   Sales Channel       0 non-null      object
 6   ship-service-level  0 non-null      object
 7   Category            0 non-null      object
 8   Size                0 non-null      object
 9   Courier Status      0 non-null      object
 10  Qty                 0 non-null      int64
 11  currency            0 non-null      object
 12  Amount              0 non-null      float64
 13  ship-city           0 non-null      object
 14  ship-state          0 non-null      object
 15  ship-postal-code    0 non-null      float64
 16  ship-country        0 non-null      object
 17  B2B                 0 non-null      bool
 18  fulfilled-by        0 non-null      object
 19  New                 0 non-null      float64
 20  PendingS            0 non-null      float64
dtypes: bool(1), float64(4), int64(2), object(14)
memory usage: 0.0+ bytes
None

Sample Data:
Empty DataFrame
Columns: [index, Order ID, Date, Status, Fulfilment, Sales Channel, ship-service-level, Category, Size, Courier Status, Qty, currency, Amount, ship-city, ship-state, ship-postal-code, ship-country, B2B, fulfilled-by, New, PendingS]
Index: []

[0 rows x 21 columns]